alembic==1.14.0
Faker==30.8.2
Mako==1.3.6
MarkupSafe==3.0.2
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
six==1.16.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
alembic==1.14.0
click==8.1.7
Faker==30.8.2
Mako==1.3.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
psycopg2-binary==2.9.10
Pygments==2.18.0
python-dateutil==2.9.0.post0
rich==13.9.4
shellingham==1.5.4
six==1.16.0
SQLAlchemy==2.0.36
typer==0.12.5
typing_extensions==4.12.2
